.nav {
    background-color: rgba(24, 24, 24, 0.8);
    backdrop-filter: blur(5px);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    margin: 0;
    display: flex;
    padding: 1rem 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    position: fixed;
}

.contentnav {
    display: flex;
    align-items: center;
    margin: 0 20rem;
    justify-content: space-between;
    width: 100vw;
    max-width: 90rem;
}

.navList {
    list-style: none;
    display: flex;
    gap: 3.5rem;
    padding: 0;
    align-items: center;
    justify-content: space-between;
}

.navLink {
    text-decoration: none;
    color: #f8f9fd;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.02em;
    display: flex;
    position: relative;
    overflow: hidden;
    transition: color 0.3s ease;
}

.navLink::after {
    content: '';
    position: absolute;
    bottom: -8px;
    left: 0;
    width: 100%;
    height: 9px;
    background-color: #00a6fB;
    transform: scaleX(0);
    transform-origin: bottom left;
    transition: transform 0.3s ease-out;
}

.navLink:hover {
    color: #00a6fB;
}

.navLink:hover::after,
.navLink.active::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.navLink.active {
    color: #00a6fB;
}

.navItem {
    position: relative;
}

.logo {
    align-items: center;
    display: flex;
    position: relative;
}

.menuIcon {
    display: none;
    cursor: pointer;
    flex-direction: column;
    gap: 5px;
}

.menuIcon div {
    width: 30px;
    height: 3px;
    background-color: #f8f9fd;
}

@media (min-width: 768px) and (max-width: 1200px) {

    .contentnav {
        margin: 0 7.5rem;
    }

    .navList {
        display: none;
        flex-direction: column;
        gap: 2rem;
        padding-top: 1rem;
        padding-bottom: 2rem;
        background-color: rgba(24, 24, 24, 24);
        position: absolute;
        top: 75%;
        right: 5%;
        width: 20%;
        border-radius: 0 0 10px 10px;
        overflow: hidden;
        transition: max-height 0.3s ease-out;
        max-height: 0;
    }

    .navListActive {
        display: flex;
        max-height: 500px;
        animation: slideDown 0.3s ease-out forwards;
    }

    .menuIcon {
        display: flex;
    }
}

@media (max-width: 767px) {
    .navList {
        display: none;
        flex-direction: column;
        gap: 2rem;
        padding-top: 1rem;
        padding-bottom: 2rem;
        background-color: rgba(24, 24, 24, 24);
        position: absolute;
        top: 75%;
        right: 5%;
        width: 50%;
        border-radius: 0 0 10px 10px;
        overflow: hidden;
        transition: max-height 0.3s ease-out;
        max-height: 0;
    }

    .navListActive {
        display: flex;
        max-height: 500px;
        animation: slideDown 0.3s ease-out forwards;
    }

    .menuIcon {
        display: flex;
    }

    .contentnav {
        margin: 0 4rem;
    }
}


@keyframes slideDown {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }