:root {
  font-family: 'Poppins', sans-serif;
  color: #f8f9fd;

    /* Neutros */
  --dark-gray: #242424;
  --gray: #333333;
  --light-gray: #4C4C4C;
  --ghost-white: #f8F9FD;
  --white: #FFFFFF;

  /* Azuis */
  --ascent-blue: #0085D7;
  --primary-blue: #00A6FB;
  --secondary-blue: #8FDAFF;
}

html {
  overflow-x: hidden;
  margin: 0;
}


.gradient-text {
  background: linear-gradient(45deg, var(--primary-blue), var(--secondary-blue));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

body {
  margin: 0;
  background-color: #242424;
}
h1 {
  font-size: 5rem;
  line-height: 6rem;
  font-weight: 700;
  letter-spacing: -0.02em;
}

h2 {
  font-size: 2.5rem;
  line-height: 3rem;
  font-weight: 700;
  letter-spacing: -0.01em;
}

h3 {
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 700;
  letter-spacing: -0.01em;
}

h4 {
  font-size: 1.5rem; 
  line-height: 2rem; 
  font-weight: 700; 
}

h5 {
  font-size: 1.25rem;
  line-height: 1.5rem; 
  font-weight: 700;
}

h6 {
  font-size: 1rem; 
  line-height: 1.5rem; 
  font-weight: 700; 
}

.body-large {
  font-size: 1.125rem; 
  line-height: 1.75rem; 
  font-weight: 400;
  opacity: 0.8;
}

.body-normal {
  font-size: 1.0125rem; 
  line-height: 1.5rem;
  font-weight: 400;
}

.body-small {
  font-size: 0.875rem; 
  line-height: 1.5rem; 
  font-weight: 400;
}

.caption {
  font-size: 0.75rem; 
  line-height: 1rem; 
  font-weight: 400;
}

.buttonTxt {
  font-size: 1rem; 
  line-height: 1.5rem; 
  font-weight: 500; 
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

/* Media query para tablets */
@media (min-width: 768px) and (max-width: 1200px) {
  h1 { font-size: 4rem; line-height: 6rem; }
  h2 { font-size: 2rem; line-height: 2.5rem; }
  h3 { font-size: 1.75rem; line-height: 2.25rem; }
  h4 { font-size: 1.25rem; line-height: 1.75rem; }
  h5 { font-size: 1rem; line-height: 1.25rem; }
  h6 { font-size: 0.875rem; line-height: 1.25rem; }
  .body-large { font-size: 1rem; line-height: 1.5rem; }
  .body-normal { font-size: 0.9375rem; line-height: 1.4rem; }
  .body-small { font-size: 0.8125rem; line-height: 1.4rem; }
  .caption { font-size: 0.6875rem; line-height: 0.875rem; }
  .buttonTxt { font-size: 0.875rem; }
}

/* Media query para mobiles */
@media (max-width: 767px) {
  h1 { font-size: 3rem; line-height: 4.5rem; }
  h2 { font-size: 1.75rem; line-height: 2rem; }
  h3 { font-size: 1.5rem; line-height: 1.75rem; }
  h4 { font-size: 1.125rem; line-height: 1.5rem; }
  h5 { font-size: 0.875rem; line-height: 1rem; }
  h6 { font-size: 0.75rem; line-height: 1rem; }
  .body-large { font-size: 0.9375rem; line-height: 1.4rem; }
  .body-normal { font-size: 0.875rem; line-height: 1.25rem; }
  .body-small { font-size: 0.75rem; line-height: 1.25rem; }
  .caption { font-size: 0.625rem; line-height: 0.75rem; }
  .buttonTxt { font-size: 0.75rem; }
}